<div id="<%= dom_id team %>">
  <div>
    <% if team.avatar.attached? %>
      <%= image_tag(team.avatar) %>
    <% end %>
  <div>
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= team.city %>
  </p>

  <p>
    <strong>Conference:</strong>
    <%= team.conference %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= team.abbreviation %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= team.division %>
  </p>

  <p>
    <strong>Championships:</strong>
    <%= team.championships %>
  </p>

</div>
